













/* general styling */
:root {
    --smaller: .75;
  }
  #countdown {

      color:#fff;
      /* background-color: #130720;
       */
      font-family: lato, sans-serif;
      
  }
 
 #countdown h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  #countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  #countdown  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  .emoji {
    display: none;
    padding: 1rem;
  }
  
  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
  
  @media all and (max-width: 768px) {
    #countdown h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    #countdown  li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    #countdown li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }